<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arranchamento</title>
</head>
<body>
    <div class="container">
        <h1>Arranchamento</h1>

        <!-- Mensagens de sucesso ou erro -->
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% for data in datas %}
            <!-- Formulário de Inscrição -->
            <form method="POST">
                {% csrf_token %}

                <input type="hidden" name="data_refeicao_{{ forloop.counter }}" value="{{ data }}">

                <div class="form-group">
                    <label for="data_refeicao_{{ forloop.counter }}">Selecione a data da refeição:</label>
                    <input type="date" id="data_refeicao_{{ forloop.counter }}" name="data_refeicao" class="form-control" 
                           value="{{ data }}" required readonly>
                </div>
                
                <div class="form-group">
                    <label for="tipo_refeicao_{{ forloop.counter }}">Tipo de Refeição:</label><br>
                    <input type="checkbox" id="cafe_{{ forloop.counter }}" name="tipo_refeicao" value="CAFE">
                    <label for="cafe_{{ forloop.counter }}">Café</label><br>
                    
                    <input type="checkbox" id="almoco_{{ forloop.counter }}" name="tipo_refeicao" value="ALMO">
                    <label for="almoco_{{ forloop.counter }}">Almoço</label><br>
                    
                    <input type="checkbox" id="janta_{{ forloop.counter }}" name="tipo_refeicao" value="JANT">
                    <label for="janta_{{ forloop.counter }}">Janta</label><br>
                    
                    <input type="checkbox" id="ceia_{{ forloop.counter }}" name="tipo_refeicao" value="CEIA">
                    <label for="ceia_{{ forloop.counter }}">Ceia</label>
                </div>

                {% endfor %}

            <button type="submit" class="btn btn-primary">Inscrever-se</button>
        </form>
        

        <hr>

        <h2>Refeições Disponíveis</h2>
        <ul>
            {% for refeicao in refeicoes_disponiveis %}
                <li>{{ refeicao.tipo_refeicao }} - {{ refeicao.data_refeicao }}</li>
            {% empty %}
                <li>Não há refeições disponíveis para arranchar-se.</li>
            {% endfor %}
        </ul>
    </div>

</body>
</html>
