{% extends 'base.html' %}

{% block title %}Arranchamento{% endblock %}

{% block content %}

    
        <!-- Formulário de Inscrição -->
        <form method="POST">
            {% csrf_token %}

            {% for data in datas %}
                <fieldset>
                    <legend>Data: {{ data }}</legend>
                    <input type="hidden" name="data_refeicao" value="{{ data }}">

                    <div class="form-group">
                        <label>Tipo de Refeição:</label><br>
                        <input type="checkbox" id="cafe_{{ forloop.counter }}" name="tipo_refeicao_{{ forloop.counter }}" value="CAFE">
                        <label for="cafe_{{ forloop.counter }}">Café</label><br>

                        <input type="checkbox" id="almoco_{{ forloop.counter }}" name="tipo_refeicao_{{ forloop.counter }}" value="ALMO">
                        <label for="almoco_{{ forloop.counter }}">Almoço</label><br>

                        <input type="checkbox" id="janta_{{ forloop.counter }}" name="tipo_refeicao_{{ forloop.counter }}" value="JANT">
                        <label for="janta_{{ forloop.counter }}">Janta</label><br>

                        <input type="checkbox" id="ceia_{{ forloop.counter }}" name="tipo_refeicao_{{ forloop.counter }}" value="CEIA">
                        <label for="ceia_{{ forloop.counter }}">Ceia</label>
                    </div>
                </fieldset>
            {% endfor %}

        <button type="submit" class="btn btn-primary">Inscrever-se</button>
    </form>
{% endblock %}

