{% extends 'base.html' %}

{% block title %}Arranchamento{% endblock %}

{% block content %}

    <h1>Arranchamentos de Hoje</h1>

    <form method="GET" action="{% url 'verificar_arranchamentos' %}">
        <label for="data_refeicao">Selecione a Data:</label>
        <input type="date" id="data_refeicao" name="data_refeicao" value="{{ data_selecionada }}">
        <button type="submit">Filtrar</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Subunidade</th>
                <th>Militar</th>
                <th>Refeição</th>
            </tr>
        </thead>
        <tbody>
            {% for arranchamento in arranchamentos %}
            <tr>
                <td>{{ arranchamento.usuario.subunidade }}</td>
                <td>{{ arranchamento.usuario }}</td>
                <td>{{ arranchamento.refeicao }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        
{% endblock %}
